@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

:root {
  --clr-light: hsl(200, 40%, 90%);
  --clr-dark: hsl(200, 70%, 20%);
  --ff-standard: "Inter", sans-serif;
}

body {
  background-color: #fff;
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 14px 0 0 0;
}

h1,
p,
input,
button {
  margin: 0;
}

input,
button {
  border: none;
}

.container {
  font-family: var(--ff-standard);
  width: 776px;
  margin-top: 50px;
  margin-inline: auto;
  color: var(--clr-light);
  display: flex;
  flex-direction: column;
  background-color: var(--clr-light);
  padding: 14px;

  --inp-h: 20px;
}

.header {
  text-align: center;
  background: var(--clr-dark);
  color: var(--clr-light);
  height: 47px;
  margin-bottom: 3px;
}

.tools {
  display: flex;
  background: var(--clr-dark);
  height: calc(47px - (2 * 5px));
  padding: 5px;
  font-size: 13px;
  font-weight: 700;
}

/* .tools >* {
  margin: 5px;
} */

.tools form {
  flex: 10;
}

.tools .todos-input {
  color: var(--clr-dark);
  background-color: var(--clr-light);
  font-size: 13px;
  width: 75%;
  height: var(--inp-h);
  padding: 0;
  margin-right: 4px;
  width: 245px;
}

.todos-input::placeholder {
  color: rgba(15, 63, 87, 0.5);
  padding-left: 2px;
}

.todos-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.todos-list input[type="checkbox"] {
  appearance: none;
  height: 20px;
  width: 20px;
  border: solid 1px var(--clr-dark);
}

.todos-list input:hover {
  color: var(--clr-light);
  background-color: var(--clr-dark);
}

.todos-list input[type="checkbox"]:checked::before {
  content: "X";
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  color: var(--clr-light);
  background-color: var(--clr-dark);
}

.todos-list input[type="checkbox"]:checked:hover::before {
  background-color: var(--clr-light);
  color: var(--clr-dark);
}

.todos-list li {
  display: flex;
  gap: 3px;
}

.todos-list span {
  background-color: var(--clr-dark);
  padding-inline: 3px;
  font-size: 13px;
  line-height: 20px;
}

.todos-list span.title-text {
  flex: 1;
}

.delete-button {
  width: 20px;
  height: 20px;
}

.todos-left {
  display: flex;
  flex-direction: column;
}

.todos-left p {
  margin: 0;
  margin-top: auto;
  font-size: 10px;
}

.filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  font-size: 10px;
  --_clr-flt-bg: var(--clr-dark);
}

.filters span {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.filters span:hover {
  --_clr-flt-bg: var(--clr-light);
}

.filters label {
  margin-top: auto;
}

.filters input[type="radio"] {
  appearance: none;
  height: 20px;
  width: 20px;
  border: solid 1px var(--clr-light);
  background-color: var(--_clr-flt-bg);
  position: relative;
}

.filters input[type="radio"]:checked::before {
  content: "X";
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  color: var(--clr-dark);
  background-color: var(--clr-light);
}

.count-box {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  padding-inline: 2px;
  align-self: start;
  height: var(--inp-h);
  display: grid;
  place-items: center;
  margin-right: 16px;
}

.submit-btn {
  height: var(--inp-h);
  background-color: var(--clr-light);
  color: var(--clr-dark);
  width: 107px;
}

.submit-btn:hover {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  border: solid 1px var(--clr-light);
}

.clear-btn {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  height: var(--inp-h);
  width: 107px;
}

.clear-btn:hover {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  border: solid 1px var(--clr-light);
}
