body {
  background-color: lightgray;
  margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
  border: solid 1px black;
  width: 800px;
  background: #DBE9F0;
  margin-top: 50px;
  margin-inline: auto;
}

.header {
  border: solid 1px green;
  text-align: center;
}

.tools {
  border: solid 1px red;
  display: flex;
}

.todos-list {
  border: solid 1px blue;
}
